{% extends "base.html" %}
{% load static %}
{% block title %}
    {{ product }} | {{ block.super }}
{% endblock %}

{% block container %}
<!-- <div class="page-header">
  <h1>{{ product }}a11</h1>
</div>
<div class="row">
  <div class="col-sm-4">
      <a href="#" class="thumbnail">
          <img src="http://placehold.it/350x250" alt="" />
      </a>
  </div>
  <div class="col-sm-8">
      {{ product.description|linebreaks }}
  </div>
</div> -->
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="m-auto col-md-5">
            <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="{% if firstAd.image %} {{ firstAd.image.url }} {% else %} http://placehold.it/700x300 {% endif %}" alt="">
            </a>
        </div>
        <div class="col-md-5">
            <h3>{{ product }}</h3>
            <p>{{ product.category }}</p>
            <a class="btn btn-primary" href="#">View Project</a>
        </div>

        <hr>
   
        <div class="col-lg-12">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Super Mercado</th>
                                <th class="text-right">Preço</th>
                                <th class="text-right">Localização</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ad in ads %}
                                <tr>
                                    <td >{{ ad.superMarket }}</td>
                                    <td class="text-right">{{ ad.price }}</td>
                                    <td class="text-right"><i class="fa fa-globe fa-2" aria-hidden="true"></i></td>
                                </tr>    
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>
</div>

{% endblock %}
